/cmake-build*/
/build*/

mantle/third_party/*/*
!mantle/third_party/CMakeLists.txt

.vulkansdk/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
*~

# CMake
CMakeUserPresets.json

# Windows artifacts
*.exe
*.obj
*.pdb
*.dll
*.lib
*.exp
mantle.log
